[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">1.0"
tqdm = "*"
scikit-learn = "*"
matplotlib = "*"
Pillow = "<7.0.0"
PyWavelets = "~=1.1.1"
Cython = ">=0.29"
flask = "*"
imagededup = "*"

[dev-packages]

[requires]
python_version = "3.7"
